<% layout('/layouts/boilerplate') %>

<h2>Sign Up</h2>
    <form>
        <div class="mb-3">
            <label for="name" class="form-label">
            Enter Name:
            </label> <br> 
            <input type="text" name="name"
            id="name" placeholder="name" class="form-control">
            <div class="name error"></div>
        </div> 
        <div class="mb-3">
            <label for="username" class="form-label">
            Enter Username:
            </label> <br> 
            <input type="text" name="username"
            id="username" placeholder="username" class="form-control">
            <div class="username error"></div>
        </div>   
        <div class="mb-3">
            <label for="email" class="form-label">
            Enter Email:
            </label> <br> 
            <input type="email" name="email"
            id="email" placeholder="email" class="form-control">
            <div class="email error"></div>
        </div>
        <div class="mb-3">
            <label for="img" class="form-label">
            Enter Profile Image URL:
            </label> <br> 
            <input type="text" name="img"
            id="img" placeholder="img" class="form-control">
        </div>
        <div class="mb-3">
            <label for="bio" class="form-label">
            Enter bio:
            </label> <br> 
            <input type="text" name="bio"
            id="bio" placeholder="bio" class="form-control">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Enter Password: </label> <br> 
            <input type="password" name="password"
            id="password" placeholder="password" class="form-control">
            <div class="password error"></div>
        </div>
        <button class="btn btn-success">Sign Up</button>
    </form>
    <section class="description mt-3">
        Already have an account?<br>
    <a href="/auth/login" class="btn btn-secondary mt-1" style="color: white!important;">Login</a>
    </section>    

    <script>
        const form = document.querySelector('form');
        form.addEventListener('submit', async (e) => {
            e.preventDefault(); 
            try {
                const res = await fetch('/auth/signup', {
                    method: 'POST',
                    body: JSON.stringify({
                        name: form.name.value,
                        username: form.username.value,
                        email: form.email.value,
                        img: form.img.value,
                        bio: form.bio.value,
                        password: form.password.value
                    }),
                    headers: { 'Content-Type': 'application/json' }
                });
                const data = await res.json();
                console.log(data);
            } catch (err) {
                console.log(err);
            }
        });
    </script>