<% layout('/layouts/boilerplate') %>
    <form action="/admin/articles/edit/<%= article.id %>?_method=PATCH" method="post">
        <div class="mb-3">
            <label for="title" class="form-label">Title: </label> <br> 
            <input type="text" name="title"
            id="title" placeholder="title" value= "<%= article.title %>" class="form-control">
        </div>
        <div>
            <label for="description" class="form-label">Description: </label><br>
            <textarea id ="description" class="form-control" placeholder="description"
            name="description" id="" cols="30" rows="10">
            <%= article.description %>
            </textarea>
        </div>
        <div class="mb-3">
            <label for="tags" class="form-label">Tags: </label><br>
            <textarea id ="tags" placeholder="tags"
            name="tags" cols="30" rows="10" class="form-control">
            <%= article.tags %>
        </textarea>
        </div>
        <button class="btn btn-success">EDIT</button>
    </form>
