<% layout('/layouts/boilerplate') %>

<h1 class="text-center">Requests to be Editor</h1>

<% if (users.length) { %>
    <section class="d-flex flex-column card shadow p-3 mb-3 bg-body rounded">
        <% for( let index = 0; index < users.length; index++ ) { %>
            <ol class="d-flex flex-row justify-content-center align-items-center">
                <div class="description m-3">
                    <%= users[index].name %>
                </div>
                <form action="/admin/user/requests/accept/<%= users[index]._id%>" method="POST">
                    <button class="btn btn-success m-3">Accept</button>
                </form>
                <form action="/admin/user/requests/decline/<%= users[index]._id%>" method="POST">
                    <button class="btn btn-danger m-3">Decline</button>
                </form>
            </ol>
        <% } %>
    </section>
<% } else { %>
    <section class="d-flex flex-column card shadow p-3 mb-3 bg-body rounded">
        <div class="description text-center">
            Nobody has sent any editor request recently.
        </div>
    </section>
<% } %>