<% layout('/layouts/boilerplate') %>

<h1 class="text-center title" style="font-size: 5rem;">
    <span style="font-weight: 700;">404</span> <span style="font-weight: 100;">Error!<br>
    Not Found!</span>
</h1>

<p class="description text-center mt-3">
    Either this page doesn't exist or something went wrong!
</p>