<% layout('/layouts/boilerplate') %>

<section class="d-flex justify-content-center align-items-center flex-column">
    <a href="/auth/login" class="m-3">Login</a>
    <a href="/auth/signup" class="m-3">Signup</a>
</section>