<% layout('/layouts/boilerplate') %>
    <h1>MernStackBlogs</h1>
    <ul>
        <li>
            <a href="/articles">
                Go to the articles
                </a>
        </li>
    </ul>
<hr>
    <h2>Most Popular Articles</h2><hr>
    <h2>New Articles</h2><hr>
    <h2>Reccommended Articles</h2>
