<% layout('/layouts/boilerplate') %>

<section class="d-flex flex-column justify-content-center align-items-center card shadow p-3 mb-3 bg-body rounded">
    <p class="h1 text-center">Search</p>
    <p class="description text-center text-muted">What would you like to do search for?</p>
    <p class="mb-1"><a href="/search/questions" id="simple-link">Find Questions</a></p>
    <p class="mb-1"><a href="/search/articles" id="simple-link">Find Articles</a></p>
</section>