<% layout('/layouts/boilerplate') %>

<section class="d-flex flex-column justify-content-center align-items-center card shadow p-3 mb-3 bg-body rounded">
    <p class="h1 text-center">Editor</p>
    <p class="description text-center text-muted">What would you like to do?</p>
    <p class="mb-1"><a href="/editor/new" id="simple-link">Write an article</a></p>
    <p class="mb-1"><a href="/editor/articles" id="simple-link">List all articles</a></p>
</section>